<script src="js/jquery-2.1.1.min.js"></script>
<script src="https://login.persona.org/include.js"></script>
<script>
navigator.id.watch({
  loggedInUser: <% if (user) { %>"<%= user %>"<% } else { %>null<% } %>,
  onlogin: function (assertion) {
    $.post("/login", {assertion: assertion}, function (data) {
      if (data != "okay") {
        navigator.id.logout();
      }
      window.location = "/";
    });
  },
  onlogout: function () {
    window.location = "/logout";
}});
</script>
</body>
</html>
